@media only screen and (min-width: 1024px) {
  .board__container {
    margin: 40px 80px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .board__container {
    margin: 30px 50px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 758px) {
  .board__container {
    margin: 20px 30px;
  }
}
